# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
testing

# Next.js
.next/
out/
packages/nextjs/.next/
packages/nextjs/out/

# Production
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Hardhat
cache
artifacts
packages/hardhat/cache
packages/hardhat/artifacts

# TypeChain
typechain-types
packages/hardhat/typechain-types

# Subgraph
packages/subgraph/build
packages/subgraph/generated

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*